<!DOCTYPE html>
<html>

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet"
      integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
  <title>{% block head_title %}{% endblock %}</title>
  {% block extra_head %}
  {% endblock %}
</head>

<body>
  <div class="container">

  {% block body %}

  {% if messages %}
  <div class="toast-container">
    {% for message in messages %}
    <div class="toast align-items-center" role="alert" aria-live="assertive" aria-atomic="true">
      <div class="d-flex">
        <div class="toast-body">
        {{messsage}}
      </div>
        <button type="button" class="btn-close me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
      </div>
    </div>
    {% endfor %}
  </div>
  {% endif %}


  <div class="dropdown">
    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu" data-bs-toggle="dropdown" aria-expanded="false">
    Menu
  </button>
    <ul class="dropdown-menu" aria-labelledby="dropdownMenu">
      {% if user.is_authenticated %}
      <li><a class="dropdown-item" href="{% url 'account_email' %}">Change E-mail</a></li>
      <li><a class="dropdown-item" href="{% url 'account_logout' %}">Sign Out</a></li>
      {% else %}
      <li><a class="dropdown-item" href="{% url 'account_login' %}">Sign In</a></li>
      <li><a class="dropdown-item" href="{% url 'account_signup' %}">Sign Up</a></li>
      {% endif %}
    </ul>
  </div>
  
  {% block content %}
  {% endblock %}
  </div>

  {% endblock %}
  {% block extra_body %}
  {% endblock %}

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js" integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf" crossorigin="anonymous"></script>

</body>

</html>